{%  extends "base.html" %}

{% load static %}



{% block content %}

    <br>
    <div class="container bg-white shadow-md p-3">
        <h4>Добро пожаловать, {{ user.username }}!</h4>

        <hr>

        <h6>Персональная информация</h6>

        <a href="{% url 'account:logout' %}">
        <button class="btn btn-secondary">
            Выйти
            </button>
        </a>

        <a href="{% url 'account:profile-management' %}">
            <button class="btn btn-primary">
                Обновить профиль
                </button>
            </a>

            <a href="{% url 'account:delete-user' %}">
                <button class="btn btn-danger">
                    Удалить аккаунт
                    </button>
                </a>

    </div>
{% endblock %}